# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

#####################################################

sets languages "thai,thailand"
set ea_LanguageName "TH"
sets locale "th-TH"
sets Discord https://discord.gg/rvhWHbjBqh
sets tags "TH,RolePlay"
set temp_convar "hey world!"

####################################################

set mysql_connection_string "server=127.0.0.1;database=school;userid=root;"  ##ใช้ SQL ทั่วๆไป
set es_enableCustomData 1

# set mysql_debug 1
# set mysql_debug_output "console"
set mysql_slow_query_warning 200

#####################################################

# sv_licenseKey "cfxk_tjw3e0LZBWynxkCc5RRQ_5XOEY"
sv_licenseKey "cfxk_P2UT4SK4ggHd4d1lbVIC_1YiOU1"
set steam_webApiKey "062E9961DE0B14F7DBBEF8AE0951DA12"
set onesync on
sv_maxclients 2
sv_hostname "^2[TH]^1 Free BaseServer BY MonaLisa | Discord : https://discord.gg/rvhWHbjBqh"
sets sv_projectName "Free BaseServer BY MonaLisa | Discord : https://discord.gg/rvhWHbjBqh"
sets sv_projectDesc "Free BaseServer BY MonaLisa | Discord : https://discord.gg/rvhWHbjBqh"
load_server_icon logo.png
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

#####################################################

sv_endpointprivacy true
sv_scriptHookAllowed 0
+set onesync_population true

set sv_enforceGameBuild 2612
set onesync_workaround763185 1
set onesync_forceMigration true
set onesync_distanceCullVehicles true

setr voice_use3dAudio "true"
setr voice_useNativeAudio "true"
setr voice_useSendingRangeOnly "true"
setr voice_refreshRate 200
setr voice_defaultCycle "Z"
setr voice_enableProximityCycle 1
setr voice_defaultVoiceMode 2
setr voice_debugMode 1

#####################################################

# These resources will start by default.
ensure mapmanager
# ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
#ensure hardcap
#ensure rconlog
#ensure scoreboard

exec resources/vMenu/config/permissions.cfg
ensure vMenu

#########

exec resources.cfg

#########

add_principal identifier.steam:110000111cf83a7 group.admin

add_ace group.admin "vMenu.OnlinePlayers.Menu" allow
add_ace group.admin "vMenu.OnlinePlayers.All" allow
add_ace group.admin "vMenu.OnlinePlayers.Teleport" allow
add_ace group.admin "vMenu.OnlinePlayers.Waypoint" allow
add_ace group.admin "vMenu.OnlinePlayers.Spectate" allow
add_ace group.admin "vMenu.OnlinePlayers.Summon" allow
add_ace group.admin "vMenu.OnlinePlayers.Kill" allow
add_ace group.admin "vMenu.OnlinePlayers.Kick" allow
add_ace group.admin "vMenu.OnlinePlayers.TempBan" allow
add_ace group.admin "vMenu.OnlinePlayers.PermBan" allow
add_ace group.admin "vMenu.OnlinePlayers.Unban" allow

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
